.map-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.map-container {
  width: 100%;
  height: 100vh;
}

.map-overlay {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 10;
}
