.map-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.map-container {
  width: 100%;
  height: 100vh;
}

.map-overlay {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 10;
}

.map-overlay-controls {
  position: absolute;
  top: 65px;
  right: 10px;
  background: rgba(255, 255, 255, 0.9);
  padding: 5px 10px;
  border-radius: 4px;
  z-index: 10;
  display: flex;
  gap: 5px;
}